{
  "plugins": ["react"],
  "extends": ["elemefe"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-unused-vars": "warn",
    "comma-dangle": 0,
    "no-undef": 0
  }
}
